<footer>
    <div class="boxs">
        <ul class="center">
            <li><img class=" logo" src='assets/logo_1.png'></li>
        </ul>
    </div>
    <div class="boxs">
        <ul class="center">
            <li>
                Para mais informações, sugestões, dúvidas ou reclamações acesse nosso e-mail: <br><br>
            </li>
            <li>
                <div class="container">
                    <img class="icons" src='assets/email.png'>
                    <p>atendimento@mhealth.com</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="boxs">
        <ul class="center">
            <li>
                <div class="container">
                    <img class="icons" src='assets/central.png'>
                    <p>Central de Atendimento: <br><br></p>
                </div>
            </li>
        </ul>
        <p class="center">3004-5789 <br><br></p>
        <p class="center">Horário de atendimento: <br> das 8h às 21h, de segunda a sábado.</p>
    </div>
    <div class="boxs">
        <ul class="center">
            <li>
                <div class="container">
                    <img class="icons" src='assets/telefone.png'>
                    <p>Televendas:<br><br></p>
                </div>
            </li>
        </ul>
        <p class="center">3004-5789 <br><br></p>
        <p class="center">Horário de atendimento: <br> das 7h às 21h, de segunda a segunda.</p>
    </div>
    <div class="boxs">
        <ul class="center">
            <li>
                <div class="container">
                    <img class="icons" src='assets/like.png'>
                    <p>Redes Sociais:<br><br></p>
                </div>
            </li>
        </ul>
        <ul class="container_icons">
            <li>
                <img class="icons_footer" src='assets/facebook.png'>
            </li>
            <li>
                <img class="icons_footer" src='assets/instagram.png'>
            </li>
            <li>
                <img class="icons_footer" src='assets/twitter.png'>
            </li>
            <li>
                <img class="icons_footer" src='assets/tik-tok.png'>
            </li>
        </ul>
    </div>
</footer>
<div class="copyright">
    <ul>
        <li class="text">copyright &copy;2022 MegaHealth.Todos os direitos reservados</li>
    </ul>
    
</div>