<ngb-carousel class="carousel" *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img class="img_car" src="assets/cabelos.png">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img class="img_car" src="assets/desodorantes.png">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img class="img_car" src="assets/adulto_desconto.png">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img class="img_car" src="assets/colesterol.png">
      </div>
      </ng-template>
  </ngb-carousel>
