<main class="main_home">
  <!-- <div class="dp_container">
      <div class="dropDown-catgorias">
        <img src='assets/dp_img.svg' alt="Lupa" class="dp_img" />
        <p>Todas as categorias</p>
          <ul class="dp_list">
          <li class="dp_item">alguma coisa</li>
          <li class="dp_item">alguma coisa</li>
          <li class="dp_item">alguma coisa</li>
          <li class="dp_item">alguma coisa</li>
        </ul>
      </div>
    </div> -->

  <app-menu></app-menu>

  <div class="container">
    <div class="carrosel">
      <app-carousel-basic></app-carousel-basic>
    </div>
  </div>

  <div class="btn-produtos container">
    <a routerLink="/produtos">Nosso Produtos</a>
  </div>
  <!-- </div>

  <div class="cards">
    <div class="card">
      <div class="box">
        <a routerLink="/produtos"><img src="assets/ofertas_2.png" /></a>
      </div>
      <p>Nossas Ofertas</p>
    </div>

    <div class="card">
      <div class="box"><img src="assets/ícone make.png" /></div>
      <p>Beleza</p>
    </div>

    <div class="card">
      <div class="box"><img src="assets/mamae.png" /></div>
      <p>Mamãe e bebê</p>
    </div>

    <div class="card">
      <div class="box"><img src="assets/covid.png" /></div>
      <p>Autoteste para COVID-19</p>
    </div>

    <div class="card">
      <div class="box"><img src="assets/derma.png" /></div>
      <p>Dermacosméticos</p>
    </div>

    <div class="card">
      <div class="box"><img src="assets/remedios.png" /></div>
      <p>Genéricos</p>
    </div>
  </div> -->


    <div class="propagandas ">
      <div class="propaganda">
        <img src="assets/image3.png" alt="propaganda1" />
      </div>
      <div class="propaganda ">
        <img src="assets/image 4.png" alt="propaganda1" />
      </div>
    </div>

  <!--
  <div class="infantis">
    <h3>Produtos Infantins com Desconto</h3>
  </div>

  <div class="combo_desconto">
    <div class="cartoes">
      <div class="combo_card">
        <div class="desc">
          <div class="desconto_container">
            <div class="desconto">40%</div>
          </div>
          <img class="img-kids" src="assets/image 10.png" alt="" />
          <p>Alivium Analgesico 100mg gotas 20ML</p>
          <p>0 Unidades</p>
        </div>
        <div class="price_desc">
          <div class="price">
            <p class="price_on">R$ 20,00</p>
            <p>R$ 16,00</p>
          </div>
        </div>
      </div>

      <div class="combo_card">
        <div class="desc">
          <div class="desconto_container">
            <div class="desconto">40%</div>
          </div>
          <img class="img-kids" src="assets/pampers 1.png" alt="" />
          <p>Alivium Analgesico 100mg gotas 20ML</p>
          <p>0 Unidades</p>
        </div>
        <div class="price_desc">
          <div class="price">
            <p class="price_on">R$ 20,00</p>
            <p class="price_off">R$ 16,00</p>
          </div>
        </div>
      </div>

      <div class="combo_card">
        <div class="desc">
          <div class="desconto_container">
            <div class="desconto">40%</div>
          </div>
          <img class="img-kids" src="assets/hipoglos.jpg" alt="" />
          <p>Alivium Analgesico 100mg gotas 20ML</p>
          <p>0 Unidades</p>
        </div>
        <div class="price_desc">
          <div class="price">
            <p class="price_on">R$ 20,00</p>
            <p>R$ 16,00</p>
          </div>
        </div>
      </div>

      <div class="combo_card">
        <div class="desc">
          <div class="desconto_container">
            <div class="desconto">40%</div>
          </div>
          <img class="img-kids" src="assets/image 10.png" alt="" />
          <p>Alivium Analgesico 100mg gotas 20ML</p>
          <p>0 Unidades</p>
        </div>
        <div class="price_desc">
          <div class="price">
            <p class="price_on">R$ 20,00</p>
            <p>R$ 16,00</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a routerLink="crud">categorias</a> -->
  <!-- <a routerLink="buy">buy</a> -->
  <app-footer></app-footer>
</main>
