<div class="all">

    <div class="menu">
        <app-menu></app-menu>
    </div>

    <body>

        <div class="container">
            <div class="product">
                <img src="assets/mucilon.png" alt="" />
                <div class="con">
                    <h1 id="titleProduct">Mucilon Milho Sache 230g</h1>
                    <p id="descriptionProduct">
                        Nestlé Mucilon Meu Primeiro Lanchinho é assado, feito com farinha
                        <br />de milho integral e vegetais desidratados, sem adição de sal e é
                        fonte<br />
                        de Ferro, Zinco e Vitamina B1.
                    </p>

                    <p>
                        <span id="productBrand"><br />Produto vendido e entregue por MegaHealth.<br /></span>
                    </p>

                    <div class="indication">
                        <br />
                        <ul>
                            <li>Indicado para bebês a partir de 6 meses de vida.</li>
                            <li>
                                Rico em nutrientes que contribuem para a Imunidade² e
                                Desenvolvimento Cerebral³.
                            </li>
                            <li>Proporciona uma alimentação equilibrada.</li>
                            <li>Rico em Vitamina A, C, D, E, B6, B9, ferro e zinco.</li>
                        </ul>
                        <button class="buttonBuy">
                            <span>Comprar</span>
                            <svg viewBox="0 0 13 10" height="10px" width="15px">
                                <path d="M1,5 L11,5"></path>
                                <polyline points="8 1 12 5 8 9"></polyline>
                            </svg>
                        </button>

                        <div class="cartButton">
                            <button class="btnCart"><u>Adicionar ao Carrinho</u></button>
                        </div>
                        <div class="shippingProduct">
                            <div class="shippingTitle">
                                <h1>Formas de Entrega</h1>
                            </div>
                            <div class="shippingBody">
                                <p>
                                    CEP
                                    <input type="number" name="shippingNumber" id="numberShipping" />
                                    <button class="calcShipping">Calcular</button>
                                </p>
                            </div>
                        </div>

                        <!-- <button class="cart" style="vertical-align:middle"><span>Adicionar</span></button>
                          <div class="shipping">
                              <h1 id="shippingTitle">CALCULAR FRETE</h1>
                              <h4><s>R$12,99</s></h4>
                              <H1 id="price">R$10,50</H1>
                              <span id="productSpan">Este produto é exclusivo para clientes da MegaHealth.</span>
                              <div class="shippingTwo">
                                  <input type="number" name="shippingNumber" id="numberShipping" placeholder="CEP:">
                                  <button class="calcButton">Calcular</button>
                              </div>
                          </div> -->
                    </div>
                </div>
            </div>
            <div class="rd-container">
                <div class="rd-row">
                    <div class="rd-col-16">
                        <h2 class="hroCpO">Veja avaliações de quem já comprou</h2>
                        <p class="knjlOC">
                            As avaliações são coletadas por e-mail após a entrega do produto e
                            auditadas pela Trustvox que certifica que as opiniões são reais.
                        </p>
                        <img src="avaliations.png" alt="" />
                    </div>
                    <div></div>
                </div>
            </div>
            <div class="rd-container breadcrumb-one" data-testid="one-column">
                <div class="rd-row">
                    <div class="rd-col-16"></div>
                </div>
            </div>
            <div data-testid="container" class="rd-container">
                <ul class="iVAuYP">
                    <li class="bRNASA">
                        <div class="kZTLdo">
                            <h2 id="titleFeatures">Características</h2>
                        </div>
                    </li>
                </ul>
                <div data-testid="table-features" class="khbkTa">
                    <div class="jeIKah">
                        <div class="bzDnvm">
                            <span class="kDzoqU">Código do Produto</span><span class="ckdLHy">
                                <div data-testid="htmlParse" class="KNjbi">261025</div>
                            </span>
                        </div>
                        <div class="bzDnvm">
                            <span class="kDzoqU">EAN</span><span class="ckdLHy">
                                <div data-testid="htmlParse" class="KNjbi">5910375619677</div>
                            </span>
                        </div>
                        <div class="bzDnvm">
                            <span class="kDzoqU">Peso (g)</span><span class="ckdLHy">
                                <div data-testid="htmlParse" class="KNjbi">230</div>
                            </span>
                        </div>
                        <div class="bzDnvm">
                            <span class="kDzoqU">Marca</span><span class="ckdLHy">
                                <div data-testid="htmlParse" class="KNjbi">Mucilon</div>
                            </span>
                        </div>
                        <div class="bzDnvm">
                            <span class="kDzoqU">Fabricante</span><span class="ckdLHy">
                                <div data-testid="htmlParse" class="KNjbi">Nestlé</div>
                            </span>
                        </div>
                        <div class="bzDnvm">
                            <span class="kDzoqU">Registro MS</span><span class="ckdLHy">
                                <div data-testid="htmlParse" class="KNjbi">0</div>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="descriptions">
                <h1 class="descriptionsTitle">
                    Perguntas frequentes sobre a MegaHealth.
                </h1>
                <div class="tab">
                    <input type="radio" name="acc" id="acc1" />
                    <label for="acc1">
                        <h2>01</h2>
                        <h3>Qual a procedência dos produtos?</h3>
                    </label>
                    <div class="aboutProduct">
                        <p>
                            Todos nossos produtos são comercializados dentro da data de
                            validade, fornecidos pelas marcas patrocinadoras de nosso site.
                        </p>
                    </div>
                </div>
                <div class="tab">
                    <input type="radio" name="acc" id="acc2" />
                    <label for="acc2">
                        <h2>02</h2>
                        <h3>Qual o prazo de entrega dos produtos?</h3>
                    </label>
                    <div class="aboutProduct">
                        <p>
                            Pagamentos efetuados por Cartão de Crédito são debitados no mesmo
                            instante. O prazo para o envio do produto é de até 3 dias úteis.
                        </p>
                    </div>
                </div>
                <div class="tab">
                    <input type="radio" name="acc" id="acc3" />
                    <label for="acc3">
                        <h2>03</h2>
                        <h3>Posso cancelar uma compra?</h3>
                    </label>
                    <div class="aboutProduct">
                        <p>
                            Você não só como pode, como deve efetuar o cancelamento da sua
                            compra caso algo de errado aconteça com a mesma. Caso o produto
                            enviado esteja com defeito você tem até 7 dias úteis para efetuar a
                            troca, diferente disso o produto não será trocado!
                        </p>
                    </div>
                </div>
                <!-- <div class="tab">
              <input type="radio" name="acc" id="acc4" />
              <label for="acc4">
                <h2>04</h2>
                <h3>Pensar no que colocar aqui</h3>
              </label>
              <div class="aboutProduct">
                <p>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
              </div>
            </div> -->
                <!-- <div class="tab">
              <input type="radio" name="acc" id="acc5" />
              <label for="acc5">
                <h2>05</h2>
                <h3>Pensar no que colocar aqui</h3>
              </label>
              <div class="aboutProduct">
                <p>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
              </div>
            </div>
          </div> -->
                <div class="hUWxxR">
                    <div class="dTRnHs">
                        <p>
                            A MegaHealth segue as determinações da
                            <img class="lazyload" src="https://img.drogasil.com.br/wysiwyg/layout/anvisa.png"
                                alt="Anvisa" />
                        </p>
                    </div>
                </div>
                <div class="RaiaFooterstyles__BanksContainer-sc-8t73lz-13 kAyiSi">
                    <p>Meios de Pagamento</p>
                    <div data-testid="brands" class="RaiaFooterstyles__BanksImages-sc-8t73lz-14 kzSTIu">
                        <img alt="Visa" src="https://img.drogasil.com.br/assets/images/payment/VI.webp" /><img
                            alt="MasterCard" src="https://img.drogasil.com.br/assets/images/payment/MC.webp" /><img
                            alt="America Express" src="https://img.drogasil.com.br/assets/images/payment/AE.webp" /><img
                            alt="Dinners" src="https://img.drogasil.com.br/assets/images/payment/DI.webp" /><img
                            alt="Bradesco" src="https://img.drogasil.com.br/assets/images/payment/237.webp" /><img
                            alt="Itau" src="https://img.drogasil.com.br/assets/images/payment/341.webp" /><img
                            alt="Hipercard" src="https://img.drogasil.com.br/assets/images/payment/HI.webp" /><img
                            alt="JCB" src="https://img.drogasil.com.br/assets/images/payment/JC.webp" /><img
                            alt="Boleto" src="https://img.drogasil.com.br/assets/images/payment/boleto.webp" /><img
                            alt="Elo" src="https://img.drogasil.com.br/assets/images/payment/EL.webp" /><img
                            alt="Banco do Brasil" src="https://img.drogasil.com.br/assets/images/payment/001.webp" />
                    </div>
                </div>
                <div class="gHcJsq">
                    <div class="dTRnHs">
                        <br />
                        <p>
                            <a href="#">Política de privacidade</a> | © 2022 HM. Todos os direitos
                            reservados.
                        </p>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </body>

    <div class="footer">
        <app-footer></app-footer>
    </div>

</div>