<div class="all">
    <span>Painel Administrativo</span>
    <a routerLink="/home">
      <img src='assets/logo_1.png'>
    </a>


    <div class="options">
        <div>
            <a routerLink="/crud"><button>Categoria</button></a>
        </div>
        <div>
            <a routerLink="/produto"><button>Produto</button></a>
        </div>
        <div>
            <a routerLink="/vendor"><button>Fornecedor</button></a>
        </div>
        <div>
            <a routerLink="/pessoa"><button>Pessoa</button></a>
        </div>

    </div>
</div>
